[submodule "WeakifiedContainers"]
	path = WeakifiedContainers
	url = https://github.com/frozenstruct/WeakifiedContainers.git
[submodule "OptionalReIMP"]
	path = OptionalReIMP
	url = git@github.com:frozenstruct/OptionalReIMP.git
[submodule "SOLID"]
	path = SOLID
	url = git@github.com:frozenstruct/SOLID.git
